body {
  margin: 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: lightgrey;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  z-index: -100;
}

.base {
  z-index: -20;
  width: 540px;
  height: 420px;
  border-radius: 8px;
  background: #A67C52;
  margin: 20px auto;
  position: relative;
  border: 1px solid black;
    background:
    linear-gradient(135deg,#A67C52 81%, #7D5D3E 81%);
}

.base:before {
  position: absolute;
  content: "";
  z-index: 1;
  border-radius: 200px;
  width: 400px;
  height: 400px;
  background: black;
  background: radial-gradient(white 5%, gray 50%, black 80%); /* Standard syntax */
  background:
-webkit-radial-gradient(white 5%, gray 50%, black 80%); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(white 5%, gray 50%, black 80%); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(white 5%, gray 50%, black 80%);
  left: 10px;
  top:10px;
  box-shadow:
    0px 0px 55px black inset;
}

.slider {
  position: absolute;
  height: 130px;
  width: 5px;
  background: #333333;
  border: 1px solid black;
  border-radius: 7px;
  bottom: 30px;
  right: 30px;
}

.slider:after {
  position: absolute;
  content: "";
  height: 25px;
  width: 40px;
  background: #1C1C1C;
  border: 1px solid black;
  border-radius: 3px;
  left: -18px;
  top: 20px;
}

.buttons {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  background: #CCCCCC;
  border-radius: 3px;
  bottom: 10px;
  left: 10px;
  border: 1px solid black;
  background:
    linear-gradient(135deg,#BCBCBC 60%, #9B9B9B 60%);
}

.toneArm {
  position: absolute;
  width: 50px;
  height: 100px;
  background: grey;
  z-index: 10;
}



.buttons:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 30px;
  background: #CCCCCC;
  left: 50px;
  top: 29px;
  border-radius: 2px;
  border: 1px solid black;
  background:
    linear-gradient(135deg,#BCBCBC 60%, #9B9B9B 60%);
}

.shader {
  position: absolute;
  height: 100px;
  width: 100px;
  background: #7d5d3e;
  border-radius: 8px;
  bottom: 0;
  right: 0;
}

.platter:after{
  position: absolute;
  content: "";
  z-index: 20;
  width: 115px;
  height: 115px;
  border-radius: 57.5px;
  background: #FFFFCC;
  top: 115px;
  left: 115px;
/*   boxShadow */
  box-shadow:
    0px 0px 2px 0px black,
    0 0 10px black inset,
    0px 0px 0px 20px #1A1A1A,
    2px 0px 0px 20px darkgrey,
    0 0 0 40px #1A1A1A,
    -1px -1px 0px 40px darkgrey,
    0 0 0 70px #1A1A1A,
    -1px 1px 0 70px darkgrey,
    0 0 0 100px #1A1A1A,
    1px 1px 0 100px darkgrey;
   -wbekit-box-shadow:
    0px 0px 2px 0px black,
    0 0 10px black inset,
    0px 0px 0px 20px #1A1A1A,
    2px 0px 0px 20px darkgrey,
    0 0 0 40px #1A1A1A,
    -1px -1px 0px 40px darkgrey,
    0 0 0 70px #1A1A1A,
    -1px 1px 0 70px darkgrey,
    0 0 0 100px #1A1A1A,
    1px 1px 0 100px darkgrey;
      -o-box-shadow:
    0px 0px 2px 0px black,
    0 0 10px black inset,
    0px 0px 0px 20px #1A1A1A,
    2px 0px 0px 20px darkgrey,
    0 0 0 40px #1A1A1A,
    -1px -1px 0px 40px darkgrey,
    0 0 0 70px #1A1A1A,
    -1px 1px 0 70px darkgrey,
    0 0 0 100px #1A1A1A,
    1px 1px 0 100px darkgrey;
   -moz-box-shadow:
    0px 0px 2px 0px black,
    0 0 10px black inset,
    0px 0px 0px 20px #1A1A1A,
    2px 0px 0px 20px darkgrey,
    0 0 0 40px #1A1A1A,
    -1px -1px 0px 40px darkgrey,
    0 0 0 70px #1A1A1A,
    -1px 1px 0 70px darkgrey,
    0 0 0 100px #1A1A1A,
    1px 1px 0 100px darkgrey;
}

.platter:before {
  position: absolute;
  content: "";
  z-index: 30;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background: black;
  top: 165px;
  left: 165px;

/*   Gradient */
  background: -webkit-radial-gradient(darkgrey, black); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(darkgrey, black); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(red, yellow, green); /* For Firefox 3.6 to 15 */
  background: radial-gradient(darkgrey 5%, black 40%); /* Standard syntax */
}

.platter{
  position: absolute;
  transform: rotate(1500deg);
  transition: all 1500ms linear;
  content: "";
  z-index: 10;
  height: 350px;
  width: 350px;
  border-radius: 175px;
  background: #1A1A1A;
  border: 3px solid lightgrey;
  top: 32px;
  left: 32px;
}

.toneBase{
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 100px;
  background: #4D4D4D;
  border: 1px solid black;
  right: 12px;
  top: 20px;
  background:
    linear-gradient(135deg,#4D4D4D 60%, #333333 60%);
}

.toneBase:before {
  position: absolute;
  content: "";
  z-index: 1;
  height: 100px;
  width: 100px;
  border-radius: 100px;
  background: #B3B3B3;
  left: 28px;
  top: 27px;
  border: 3px double black;
}

.notches {
  position: absolute;
  width: 5px;
  height: 115px;
  border: 1px solid black;
  background: #666666;
  right: 75px;
  top: 21px;
}

.notches:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 115px;
  border: 1px solid black;
  background: #999999;
  right: 0px;
  top: 0px;
  transform: rotate(30deg);
}

.notches:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 115px;
  border: 1px solid black;
  background: #666666;
  right: 0px;
  top: 0px;
  transform: rotate(60deg);
}

.notches2 {
  position: absolute;
  width: 5px;
  height: 115px;
  border: 1px solid black;
  background: #999999;
  right: 75px;
  top: 21px;
  transform: rotate(-30deg);
}

.notches2:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 115px;
  border: 1px solid black;
  background: #999999;
  right: 0px;
  top: 0px;
  transform: rotate(120deg);
}

.notches2:before {
  position: absolute;
  content: "";
  width: 5px;
  height: 115px;
  border: 1px solid black;
  background: #666666;
  right: 0px;
  top: 0px;
  transform: rotate(150deg);
}

.toneArm {

}
